body {
  text-align: center;
  margin: 10px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
}

#editor {
  height: 250px;
  width: 100%;
  border: solid 2px #000000;
  border-radius: 10px;
  text-align: left;;
}